{% load bootstrap4 %}
{% load static %}

<!DOCTYPE html>

<html>
    <head>
    <meta charset="utf-8"/>
    <title> Chat </title>
    {% bootstrap_css %}
    </head>
    
    <body>
    
        <div class="container">
            <div>
                <h4 class="lead text-center"> Escolha a sala em que gostaria de entrar </h4>
            </div>
            <input type="text" name="nome_sala" id="nome_sala" size="100" placeholder="Nome da sala">
            <br>
            {% buttons%}
                <input id="botao" class="btn btn-primary" type="button" value="Entrar">
            {% endbuttons %}
        </div>
        
        <script type="text/javascript">
          
              document.querySelector('#nome_sala').focus();

              document.querySelector('#nome_sala').onkeyup = function(e) {
                  if (e.keyCode === 13) {
                      document.querySelector('#botao').click();
                  }
              };

              document.querySelector('#botao').onclick = function(e) {
                var nome_sala = document.querySelector('#nome_sala').value;
                if (nome_sala != "") {
                    window.location.pathname = '/chat/' + nome_sala + '/';
                }
                else {
                    alert('Você precisa informar o nome da sala');
                    document.querySelector('#nome_sala').focus();
                }
              };
          
        </script>
        
        {% bootstrap_javascript jquery='full' %}
    </body>

</html>
