{% load bootstrap4 %}
{% load static %}

<!DOCTYPE html>

<html>
    <head>
    <meta charset="utf-8"/>
    <title> Chat </title>
    {% bootstrap_css %}
    </head>
    
    <body>
    
        <div class="container">
            <input id="sala_json" type="hidden"> {{ nome_sala_json }} </p>
            <textarea id="sala" cols="70" rows="15"> </textarea><br/>
            <input type="text" name="texto" id="texto" size="100">
            <br>
            {% buttons%}
                <input id="botao" class="btn btn-primary" type="button" value="Enviar">
            {% endbuttons %}
        </div>
        
        
            <script type="text/javascript">
              
                var nome_sala = {{ nome_sala_json }}

                var chatSocket = new WebSocket(
                    'ws://' + window.location.host + '/chat/' + nome_sala + '/'
                );

                chatSocket.onmessage = function(e) {
                    var dados = JSON.parse(e.data);
                    var mensagem = dados['mensagem'];
                    document.querySelector('#sala').value += (mensagem + '\n');
                };

                chatSocket.onclose = function(e) {
                  console.error('O chat encerrou');
                }

                document.querySelector('#texto').focus();
                document.querySelector('#texto').onkeyup = function(e) {
                    document.querySelector('#botao').click();
                }

                document.querySelector('#botao').onclick = function(e) {
                    var mensagemInput = document.querySelector('#texto');
                    var mensagem = mensagemInput.value;
                    chatSocket.send(JSON.stringify({
                        'mensagem': mensagem
                    }));
                    mensagemInput.value = '';
                }
              
            </script>
        
        {% bootstrap_javascript jquery='full' %}
    </body>

</html>
